<div class="jokes_container">

    <div class="manage-buttons">
      <%= button_to "NEW JOKE", fetch_new_record_jokes_path, remote: true, method: :get,  :id => "btn-new-joke" %>

      <%= button_to "REFRESH", refresh_jokes_path, method: :get, :id => "btn-refresh" %>
    </div>


    <div>
        <ul id="jokes-list">
          <% @jokes.each do |joke| -%>
              <%= render partial: "joke", locals: { joke: joke } %>
          <% end -%>
        </ul>
    </div>
</div>
